[Unit]
Description=Disable secondary display for GNOME, including after wake from suspend
PartOf=gnome-session-wayland@gnome.target
After=suspend.target gnome-session-wayland@gnome.target

[Service]
Type=oneshot
ExecStart=/usr/bin/gnome-monitor-config set -LpM DP-1 -m 2560x1440@119.998

[Install]
WantedBy=suspend.target graphical-session.target
